@tailwind base;
@tailwind components;
@tailwind utilities;


/* Forward animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Reverse animation */
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Apply animation classes */
.animate-fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.animate-fade-out-down {
  opacity: 1;
  animation: fadeOutDown 1s forwards;
}

.flex .items-center {
  display: flex;
  align-items: center;
}
.icon-visible {
  display: inline-block; /* Ensure icon is visible */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}


@keyframes blurToFocus {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.animate-blurToFocus {
  animation: blurToFocus 1.5s ease-out forwards;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
